/*own style*/
main {
  padding: 120px;
  padding-top: 0px
}


body {
  position: relative;
}
.footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  background-color: #f5f5f5;
}



iframe, object, embed {
    max-width: 100%;
}

.facebook a:visited { 
    color: blue;
}
.twitter a:visited { 
    color: darkblue;
}
.twitter a { 
    color: darkblue;
}

.youtube a { 
    color: red;
}
.youtube a:visited { 
    color: red;
}

.instagram a { 
    color: orange;
}

.instagram a:visited { 
    color: orange;
}

h1 {
  padding-bottom: 20px;

}