

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        tel.:123456789
      
        e-mail: Psovna@gmail.com
      </div>
      <div class="col-sm-4">&copy; Filip·Důlovec <%- date(Date.now(), 'YYYY') %></div>
      <div class="col-sm-4">
        <div id="twitter"><a href="https://twitter.com/?lang=cs" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
        <div id="facebook"><a href="https://cs-cz.facebook.com/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></div>
        <div id="youtube"><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></div>
        <div id="instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>
</footer>