<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Časy trenérů</h3></div>
        </div>
        <div>
                <ul >
                    <li>Alžběta: Pondělí, Čtvrtek, Neděle</li>
                    <li>Ondřej: Úterý, Pátek</li>
                    <li>Rudolf: Středa, Sobota</li>
            </ul>
    </nav>

</div>